#sign-option-container {
    padding: 50px 0;
    background-color: #f8f9fa;
    text-align: center;
}

.sign-option-heading {
    font-size: 2.5rem;
    font-weight: 600;
    color: #014A75;
    margin-bottom: 30px;
}

.sign-option-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.sign-option-item {
    width: 250px;
    height: 300px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    margin: 20px;
}

.sign-option-item:hover {
    transform: translateY(-10px);
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.2);
    background-color: #e0e0e0;
    color: #014A75;
    cursor: pointer;
}

.service-icon {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #014A75;
    color: #fff;
    line-height: 60px;
    text-align: center;
    margin: 0 auto 20px;
    font-size: 2rem;
    transition: all .3s ease-in-out;
}

.sign-option-item:hover .service-icon {
    background-color: #fff;
    color: #28FF64;
}

.sign-option-card-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.sign-option-card-description {
    font-size: 1rem;
    line-height: 1.5;
    color: #666;
}
